<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>S.A.R.A - Web :: ADS - IFBA, campus Salvador</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container">
    <h3>Tabs</h3>
    <ul id="myTab" class="nav nav-tabs">
      {% for day in days %}
      <li><a href="../timetabling/{{ day.id }}" >{{ day }}</a></li>
      {% endfor %}
    </ul>
    <br>
  </div>

  <div id="#{{ table.day.id }}">
    <h2>{{ table.day }}</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Horário</th>
          {% for room in table.rooms %}
          <th>{{ room.code }} - {{ room.description }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for time_interval in table.time_intervals %}
        <tr>
          <td scope="row">{{ time_interval }}</td>
          {% for slot in table.slots %}
          <td scope="row">
            {% if slot.s_class %}
            {{ slot.s_class }}
            {% else %}
            ---
            {% endif %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
<script>
$('#myTab li a').click(function (e) {
  var tab = $(this);
  if(tab.parent('li').hasClass('active')){
    window.setTimeout(function(){
      $(".tab-pane").removeClass('active');
      tab.parent('li').removeClass('active');
    },1);
  } else { tab.tab('show'); }
});
</script>
</html>
