table {
    border-collapse: separate;
    border-spacing: 0;
}

.search-table { 
    margin:40px auto 0px auto; 
}

.search-table, td, th { 
    border-collapse:collapse; 
}

.search-table-outter { 
    overflow-x: scroll;  
    overflow-y: visible; 
    padding: 0; 
}

th, td { 
    min-width: 200px;
}

td {
    height: 34px
}

.fixed, tbody tr > :first-child {
    position: absolute;
    left: 190px;
    border-top-width: 1px;
    /*only relevant for first row
    margin-top: -1px;
    compensate for top border*/
}
